// Enter any custom Sass in this file.

//making goal icon corners curved and bigger to fill the page
#main-content .goal-tiles .goal-tile img {
  border-radius: 20px;
}
 
@media only screen and (min-width: 992px) {
  .frontpage-goals-grid .goal-tiles .goal-tile {
	  width: 14%;
  }
}

// Adjusting size of goal banners
.goal-banner {
    padding-top: 30px;
    padding-bottom: 30px;
